@keyframes float {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(-30px); }
  100% {
    transform: translateY(0px); } }

@keyframes load {
  0% {
    transform: translateY(100vh); }
  100% {
    transform: translateY(0vh); } }

@keyframes spin {
  100% {
    transform: rotate(180deg); } }
