$bg-color: #fff;
$primary-color: #2a3444;
$secondary-color: 	#fadb44;


@mixin easeOut {
  transition: all 0.5s ease-out;
}

@mixin easeOut2s {
  transition: all 0.2s ease-out;
}

//keyframe animasi
@keyframes float {
  0% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(4vh)
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes load {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(0);
  }
}

