  .float-shape{
  z-index: -2;
  position: relative;
  display: block;

  .line-shape{
    background-image: url("dist/img/Line.png");
    background-repeat: no-repeat;
    position: absolute;
    height: 250px;
    width: 250px; 
    top : 7vh;
    left: 60vw;
 
    animation: float 3s ease-in-out 1.5s infinite, load 1.5s;
    animation-timing-function: cubic-bezier(1, 0.17, 0.48, 0.96);
    
  }

  .circle-shape{
    background-image: url("dist/img/Ellipse.png");
    background-repeat: no-repeat;
    position: absolute;
    height: 250px;
    width: 250px;
    top: 55vh;
    left: 50vw;

    animation: float 3s ease-in-out 1.75s infinite, load 1.75s;
    animation-timing-function: cubic-bezier(1, 0.17, 0.48, 0.96);
  }

  .triangle-shape {
    background-image: url("dist/img/Polygon.png");
    background-repeat: no-repeat;
    position: absolute;
    height: 250px;
    width: 250px;
    top: -2vh;
    left: 8vw;
    
    animation: float 3s ease-in-out 1.9s infinite, load 1.9s;
    animation-timing-function: cubic-bezier(1, 0.17, 0.48, 0.96);
  }
}
